[submodule "22-Decision-Tree"]
	path = 22-Decision-Tree
	url = https://github.com/TawanTan/22-Decision-Tree.git
	branch = master
[submodule "19-K-Nearest-Neighbors"]
	path = 19-K-Nearest-Neighbors
	url = https://github.com/TawanTan/19-K-Nearest-Neighbors.git
	branch = master
[submodule "16-Linear-Regression"]
	path = 16-Linear-Regression
	url = https://github.com/TawanTan/16-Linear-Regression.git
	branch = master
[submodule "21-Naive-Bayes"]
	path = 21-Naive-Bayes
	url = https://github.com/TawanTan/21-Naive-Bayes.git
	branch = master
[submodule "23-Random-Forest"]
	path = 23-Random-Forest
	url = https://github.com/TawanTan/23-Random-Forest.git
	branch = master
[submodule "20-Support-Vector-Machine"]
	path = 20-Support-Vector-Machine
	url = https://github.com/TawanTan/20-Support-Vector-Machine.git
	branch = master
[submodule "17-Support-Vector-Regression"]
	path = 17-Support-Vector-Regression
	url = https://github.com/TawanTan/17-Support-Vector-Regression.git
	branch = master
[submodule "26-PCA-Outlier-Detection"]
	path = 26-PCA-Outlier-Detection
	url = https://github.com/TawanTan/26-PCA-Outlier-Detection.git
	branch = master
[submodule "27-Linear-Discriminant-Analysis-LDA"]
	path = 27-Linear-Discriminant-Analysis-LDA
	url = https://github.com/TawanTan/27-Linear-Discriminant-Analysis-LDA.git
	branch = master
[submodule "25-PROJECT-III-Classification"]
	path = 25-PROJECT-III-Classification
	url = https://github.com/TawanTan/25-PROJECT-III-Classification.git
	branch = master
[submodule "24-PROJECT-II-Regression"]
	path = 24-PROJECT-II-Regression
	url = https://github.com/TawanTan/24-PROJECT-II-Regression.git
	branch = master
[submodule "18-Logistic-Regression"]
	path = 18-Logistic-Regression
	url = https://github.com/TawanTan/18-Logistic-Regression.git
	branch = master
[submodule "13-Stat-Quiz"]
	path = 13-Stat-Quiz
	url = https://github.com/TawanTan/13-Stat-Quiz.git
	branch = master
[submodule "12-Example-SQL"]
	path = 12-Example-SQL
	url = https://github.com/TawanTan/12-Example-SQL.git
	branch = master
[submodule "10-Probability-Lab"]
	path = 10-Probability-Lab
	url = https://github.com/TawanTan/10-Probability-Lab.git
	branch = master
[submodule "11-Tableau-Lab"]
	path = 11-Tableau-Lab
	url = https://github.com/TawanTan/11-Tableau-Lab.git
	branch = master
[submodule "01-Python-1"]
	path = 01-Python-1
	url = https://github.com/TawanTan/01-Python-1.git
	branch = master
[submodule "05-Matplotlib"]
	path = 05-Matplotlib
	url = https://github.com/TawanTan/05-Matplotlib.git
	branch = master
[submodule "07-Plotly"]
	path = 07-Plotly
	url = https://github.com/TawanTan/07-Plotly.git
	branch = master
[submodule "08-PROJECT-1"]
	path = 08-PROJECT-1
	url = https://github.com/TawanTan/08-PROJECT-1.git
	branch = master
[submodule "06-Seaborn"]
	path = 06-Seaborn
	url = https://github.com/TawanTan/06-Seaborn.git
	branch = master
[submodule "04-Pandas"]
	path = 04-Pandas
	url = https://github.com/TawanTan/04-Pandas.git
	branch = master
[submodule "09-PowerBI-Lab"]
	path = 09-PowerBI-Lab
	url = https://github.com/TawanTan/09-PowerBI-Lab.git
	branch = master
[submodule "03-Numpy"]
	path = 03-Numpy
	url = https://github.com/TawanTan/03-Numpy.git
	branch = master
[submodule "02-Python-2"]
	path = 02-Python-2
	url = https://github.com/TawanTan/02-Python-2
	branch = master
