[submodule "22-Decision-Tree"]
	path = 22-Decision-Tree
	url = https://github.com/TawanTan/22-Decision-Tree.git
	branch = master
[submodule "19-K-Nearest-Neighbors"]
	path = 19-K-Nearest-Neighbors
	url = https://github.com/TawanTan/19-K-Nearest-Neighbors.git
	branch = master
[submodule "16-Linear-Regression"]
	path = 16-Linear-Regression
	url = https://github.com/TawanTan/16-Linear-Regression.git
	branch = master
[submodule "21-Naive-Bayes"]
	path = 21-Naive-Bayes
	url = https://github.com/TawanTan/21-Naive-Bayes.git
	branch = master
[submodule "23-Random-Forest"]
	path = 23-Random-Forest
	url = https://github.com/TawanTan/23-Random-Forest.git
	branch = master
[submodule "20-Support-Vector-Machine"]
	path = 20-Support-Vector-Machine
	url = https://github.com/TawanTan/20-Support-Vector-Machine.git
	branch = master
[submodule "17-Support-Vector-Regression"]
	path = 17-Support-Vector-Regression
	url = https://github.com/TawanTan/17-Support-Vector-Regression.git
	branch = master
[submodule "26-PCA-Outlier-Detection"]
	path = 26-PCA-Outlier-Detection
	url = https://github.com/TawanTan/26-PCA-Outlier-Detection.git
	branch = master
[submodule "27-Linear-Discriminant-Analysis-LDA"]
	path = 27-Linear-Discriminant-Analysis-LDA
	url = https://github.com/TawanTan/27-Linear-Discriminant-Analysis-LDA.git
	branch = master
[submodule "25-PROJECT-III-Classification"]
	path = 25-PROJECT-III-Classification
	url = https://github.com/TawanTan/25-PROJECT-III-Classification.git
	branch = master
[submodule "24-PROJECT-II-Regression"]
	path = 24-PROJECT-II-Regression
	url = https://github.com/TawanTan/24-PROJECT-II-Regression.git
	branch = master
[submodule "18-Logistic-Regression"]
	path = 18-Logistic-Regression
	url = https://github.com/TawanTan/18-Logistic-Regression.git
	branch = master
[submodule "13-Stat-Quiz"]
	path = 13-Stat-Quiz
	url = https://github.com/TawanTan/13-Stat-Quiz.git
	branch = master
[submodule "12-Example-SQL"]
	path = 12-Example-SQL
	url = https://github.com/TawanTan/12-Example-SQL.git
	branch = master
[submodule "10-Probability-Lab"]
	path = 10-Probability-Lab
	url = https://github.com/TawanTan/10-Probability-Lab.git
	branch = master
[submodule "11-Tableau-Lab"]
	path = 11-Tableau-Lab
	url = https://github.com/TawanTan/11-Tableau-Lab.git
	branch = master
